---
import type { Link } from "@/lib/types";

type Props = {
  item: Link;
};
const currentPath = Astro.url.pathname;
const { item } = Astro.props;

function isActive(item: Link, currentPath: string) {
  const segment = currentPath.split("/")[2];
  return (
    (item.text === "Home" && currentPath === "/") ||
    (item.text === "Articles" &&
      segment !== undefined &&
      !Number.isNaN(Number(segment)) &&
      Number(segment) >= 1) ||
    (item.text !== "Articles" &&
      currentPath.split("/").includes(item.text.toLocaleLowerCase()))
  );
}

function formatHref(href: string) {
  return href === "/" ? "/" : `${href}/1`;
}

const active = isActive(item, currentPath);
---

<li class="relative group">
  <a
    href={formatHref(item.href)}
    aria-label={item.text}
    class:list={[
      "transition-colors duration-300 ease-in-out py-2 block relative",
      // 选中状态：文字颜色加深，并强制显示下划线
      active 
        ? "text-primary font-bold after:scale-x-100" 
        : "text-base-content/60 hover:text-primary after:scale-x-0 hover:after:scale-x-100"
    ]}
    class="after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-primary after:origin-left after:transition-transform after:duration-300"
  >
    {item.text}
  </a>
</li>